<div>
    <h1>Login</h1>
    <form action="/login" method="post" class="form-group w-50">
       <label class="form-label">Email</label>
       <input type="text" name="email" class="form-control">
       <label class="form-label">Password</label>
       <input type="password" name="password" class="form-control">
       <input class="btn btn-outline-dark mt-3 w-100" type="submit">
    
    </form>
    <a class="btn btn-dark mt-3 w-50" href="/api/auth/github"> Entrar con Github</a>

    <script>
        const handleSubmit = (evt) =>{
            ect.preventDefault()
            let email = document.querySelector('input [name= "email"]').value
            let password = document.querySelector('input [name= "password"]').value

            fetch ('/api/auth/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                    'Authorization': `Bearer ${localStorage.getItem(authToken)}`
                },
                body: JSON.stringify({
                    email,
                    password
                })
            })
            .then(resp => resp.json())
            .then(resp => localStorage.setItem('authToken' ,resp.acess_token))
        }


        let form = document.querySelector('#form').addEventListener('submit', handleSubmit)
    </script>


</div>
<script src="/virtual/js/cookieSetter.js"></script>