<div>
    <h1>Probando Cookies</h1>
    <form id="cookieForm" onsubmit="return false">
        <label>Nombre</label>
        <input name="name">
        <br/>
        <label>Correo electrónico</label>
        <input name="email">
        <input type="submit">
    </form>
    <button onclick="getCookie()">Ver Cookie</button>
</div>
<script src="/virtual/js/cookieSetter.js"></script>